/* styles.css */

/* Add styles for the background image to cover the entire viewport */
.addcandidate-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 100vh;
    /* background-image: url('/img/signup1.jpg'); Background image */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
 
  }
  
  .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place it above the background but below the form */
  }
  
  .form-background {
    display: flex;
    flex-direction: column;
    z-index: 2; /* Place it above the particles */
    background: rgba(255, 255, 255, 0.95); /* Semi-transparent white background */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px 7px rgba(0, 0, 0, 0.1);
 
  }
  
  .form-background form {
    background: transparent; /* Transparent form background */
    padding: 0rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .form-background .text-center {
    color: #000;
  }
  
  .form-background .text-center .text-lg {
    color: #555;
  }
  
  #close-button {
    font: bold;
    font-size: 26px;
    margin-left: 230px;
  }